$theme-colors: #DED0C1;

.button {
    border-radius: 10px;
    background-color: $theme-colors;
    color: #70553B;
}

.profiles {
    background-color: #C2A78B;
    border-radius: 15px;
}

.bar {
    border-radius: 15px;
}