$primary: #DED0C1;
$font-family : 'Nunito Sans';

.information {
    background-color: white;
    box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.05);
    border-radius: 25px;
}

.info {
    border-radius: 20px;
}

.list {
    box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.1);
    border-radius: 20px;
    height: 100px;
    align-items: center;
    font-family: $font-family;
}

.error {
    color: red;
    font-size: 14px;
}