// @import './color.scss';

$font-family:'Nunito Sans';

// @import 'bootstrap/scss/bootstrap';

.navbarLight {
    background-color: #DED0C1;
    height: 140px;
    box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.1);
    width: 100%;
}

.navbarBrand {
    font-family: $font-family;
    font-size: 29px;
    font-weight: 700;
    color: #A57E57;
}

.textName {
    font-family: $font-family;
    font-size: 18px;
    font-weight: 700;
    color: #A57E57;
}

.textPhone {
    font-family: $font-family;
    font-size: 13px;
    color: #A57E57;
}