@media screen and (min-width: 768px) {
    .desc {
        width: 70%;
    }

    .form-add-phone {
        width: 70%;
    }
}

@media screen and (min-width: 768px) {
    .desc {
        width: 45%;
    }

    .form-add-phone {
        width: 50%;
    }
}